.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

h1{
    color: azure;
    font-size: 28px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #32335d;
    max-width: 50%;
    width: 400px;
    margin-bottom: 50px;

    & button{
        border-radius: 30px;
        background-color: #c2c3d1;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 18px;
        color: #121214;
    }

    & button:hover {
        opacity: 0.8;
    }

    & input {
        border: 1px solid #c2c3d1;
        border-radius: 30px;
        height: 40px;
        background-color: #0f0b25;
        color: #ffff;
        font-size: 16px;
        padding-left: 12px;
        outline: none;
    }

}

.card{
    display: flex;
    justify-content: space-between;
    background-color: #32335d;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;

    & p{
        color:#ffffff;
        font-weight: bold;
    }

    & span{
        font-weight: normal;
    }

    & button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 20px;
        
    }

    & button:hover{
        opacity: 0.8;
    }

}